on boot
    # Permissions for fingerprint sensor
    chmod 0660 /dev/esfp0
    chown system system /dev/esfp0

    chown system radio /sys/class/fingerprint/fingerprint/intcnt
    chown system radio /sys/class/fingerprint/fingerprint/resetcnt
